<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Feature">
            <directory>./tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>

    <php>
        <!-- Configurações específicas para o ambiente de testes -->
        <env name="APP_ENV" value="local"/>
        <env name="APP_KEY" value="base64:mTseRbAumEvpUBwFd4oaYuK6+CLYZOyvFnbGzLubqdU="/>
        <env name="APP_DEBUG" value="true"/>
        <env name="APP_TIMEZONE" value="America/Sao_Paulo"/>
        <env name="APP_URL" value="http://localhost"/>

        <env name="APP_LOCALE" value="pt-BR"/>
        <env name="APP_FALLBACK_LOCALE" value="en"/>
        <env name="APP_FAKER_LOCALE" value="en_US"/>

        <env name="DB_CONNECTION" value="mysql"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_DATABASE" value="backendtest"/>
        <env name="DB_USERNAME" value="root"/>
        <env name="DB_PASSWORD" value=""/>

        <env name="SESSION_DRIVER" value="database"/>
        <env name="SESSION_LIFETIME" value="120"/>
        <env name="SESSION_ENCRYPT" value="false"/>
        <env name="SESSION_PATH" value="/"/>
        <env name="SESSION_DOMAIN" value="null"/>

        <env name="BROADCAST_CONNECTION" value="log"/>
        <env name="FILESYSTEM_DISK" value="local"/>
        <env name="QUEUE_CONNECTION" value="database"/>

        <env name="CACHE_STORE" value="database"/>
        <env name="CACHE_PREFIX" value=""/>

        <env name="MEMCACHED_HOST" value="127.0.0.1"/>

        <env name="REDIS_CLIENT" value="phpredis"/>
        <env name="REDIS_HOST" value="127.0.0.1"/>
        <env name="REDIS_PASSWORD" value="null"/>
        <env name="REDIS_PORT" value="6379"/>

        <env name="MAIL_MAILER" value="log"/>
        <env name="MAIL_HOST" value="127.0.0.1"/>
        <env name="MAIL_PORT" value="2525"/>
        <env name="MAIL_USERNAME" value="null"/>
        <env name="MAIL_PASSWORD" value="null"/>
        <env name="MAIL_ENCRYPTION" value="null"/>
        <env name="MAIL_FROM_ADDRESS" value="hello@example.com"/>
        <env name="MAIL_FROM_NAME" value="${APP_NAME}"/>

        <env name="AWS_ACCESS_KEY_ID" value=""/>
        <env name="AWS_SECRET_ACCESS_KEY" value=""/>
        <env name="AWS_DEFAULT_REGION" value="us-east-1"/>
        <env name="AWS_BUCKET" value=""/>
        <env name="AWS_USE_PATH_STYLE_ENDPOINT" value="false"/>

        <env name="VITE_APP_NAME" value="${APP_NAME}"/>
    </php>
</phpunit>
